In [93]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [94]:
df=pd.read_csv('C:/Users/Admin/Downloads/healthcare-dataset-stroke-data.csv')
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [95]:
df.shape

(5110, 12)

In [96]:
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [97]:
df.duplicated().sum()

0

In [98]:
print(df.columns)

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [99]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB
None

In [100]:
df['bmi'].fillna(df['bmi'].mean(),inplace=True)
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,28.893237,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.000000,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.600000,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.600000,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.200000,Unknown,0

In [101]:
df=df.drop(columns=['id'],axis=1)
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,28.893237,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.000000,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.600000,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.600000,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.200000,Unknown,0

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5110 non-null   object
 1   age                5110 non-null   float64
 2   hypertension       5110 non-null   int64
 3   heart_disease      5110 non-null   int64
 4   ever_married       5110 non-null   object
 5   work_type          5110 non-null   object
 6   Residence_type     5110 non-null   object
 7   avg_glucose_level  5110 non-null   float64
 8   bmi                5110 non-null   float64
 9   smoking_status     5110 non-null   object
 10  stroke             5110 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 439.3+ KB

In [103]:
cat_features = ["gender","ever_married","work_type","Residence_type","smoking_status"]
df = pd.get_dummies(df,columns=cat_features)
df

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,gender_Other,ever_married_No,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,67.0,0,1,228.69,36.600000,1,0,1,0,0,...,0,1,0,0,0,1,0,1,0,0
1,61.0,0,0,202.21,28.893237,1,1,0,0,0,...,0,0,1,0,1,0,0,0,1,0
2,80.0,0,1,105.92,32.500000,1,0,1,0,0,...,0,1,0,0,1,0,0,0,1,0
3,49.0,0,0,171.23,34.400000,1,1,0,0,0,...,0,1,0,0,0,1,0,0,0,1
4,79.0,1,0,174.12,24.000000,1,1,0,0,0,...,0,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,80.0,1,0,83.75,28.893237,0,1,0,0,0,...,0,1,0,0,0,1,0,0,1,0
5106,81.0,0,0,125.20,40.000000,0,1,0,0,0,...,0,0,1,0,0,1,0,0,1,0
5107,35.0,0,0,82.99,30.600000,0,1,0,0,0,...,0,0,1,0,1,0,0,0,1,0
5108,51.0,0,0,166.29,25.600000,0,0,1,0,0,...,0,1,0,0,1,0,0,1,0,0
5109,44.0,0,0,85.28,26.200000,0,1,0,0,0,...,0,0,0,0,0,1,1,0,0,0

In [104]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(df[["age","hypertension","heart_disease","avg_glucose_level","bmi","stroke"]]) 
data_normalized = scaler.transform(df[["age","hypertension","heart_disease","avg_glucose_level","bmi","stroke"]]) 
data_normalized

array([[ 1.05143428e+00, -3.28601864e-01,  4.18503199e+00,
         2.70637544e+00,  1.00123401e+00,  4.41838074e+00],
       [ 7.86070073e-01, -3.28601864e-01, -2.38946800e-01,
         2.12155854e+00,  1.38466607e-15,  4.41838074e+00],
       [ 1.62639008e+00, -3.28601864e-01,  4.18503199e+00,
        -5.02830130e-03,  4.68577254e-01,  4.41838074e+00],
       ...,
       [-3.63841511e-01, -3.28601864e-01, -2.38946800e-01,
        -5.11442636e-01,  2.21736316e-01, -2.26327259e-01],
       [ 3.43796387e-01, -3.28601864e-01, -2.38946800e-01,
         1.32825706e+00, -4.27845098e-01, -2.26327259e-01],
       [ 3.42048064e-02, -3.28601864e-01, -2.38946800e-01,
        -4.60867458e-01, -3.49895329e-01, -2.26327259e-01]])

In [105]:
data_df_normalized=pd.DataFrame(data_normalized,columns=["age","hypertension","heart_disease","avg_glucose_level","bmi","stroke"])
data_df_normalized=data_df_normalized.join(df[df.columns.drop(["age","hypertension","heart_disease","avg_glucose_level","bmi","stroke"])])
data_df_normalized

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,gender_Other,ever_married_No,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,1.051434,-0.328602,4.185032,2.706375,1.001234e+00,4.418381,0,1,0,0,...,0,1,0,0,0,1,0,1,0,0
1,0.786070,-0.328602,-0.238947,2.121559,1.384666e-15,4.418381,1,0,0,0,...,0,0,1,0,1,0,0,0,1,0
2,1.626390,-0.328602,4.185032,-0.005028,4.685773e-01,4.418381,0,1,0,0,...,0,1,0,0,1,0,0,0,1,0
3,0.255342,-0.328602,-0.238947,1.437358,7.154182e-01,4.418381,1,0,0,0,...,0,1,0,0,0,1,0,0,0,1
4,1.582163,3.043196,-0.238947,1.501184,-6.357112e-01,4.418381,1,0,0,0,...,0,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,1.626390,3.043196,-0.238947,-0.494658,1.384666e-15,-0.226327,1,0,0,0,...,0,1,0,0,0,1,0,0,1,0
5106,1.670617,-0.328602,-0.238947,0.420775,1.442949e+00,-0.226327,1,0,0,0,...,0,0,1,0,0,1,0,0,1,0
5107,-0.363842,-0.328602,-0.238947,-0.511443,2.217363e-01,-0.226327,1,0,0,0,...,0,0,1,0,1,0,0,0,1,0
5108,0.343796,-0.328602,-0.238947,1.328257,-4.278451e-01,-0.226327,0,1,0,0,...,0,1,0,0,1,0,0,1,0,0
5109,0.034205,-0.328602,-0.238947,-0.460867,-3.498953e-01,-0.226327,1,0,0,0,...,0,0,0,0,0,1,1,0,0,0

In [106]:
Y = data_df_normalized['stroke']
X = data_df_normalized[data_df_normalized.columns.drop('stroke')]
print(X.shape)

(5110, 21)

In [116]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.33, random_state=100)

In [117]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,Y_train)

LinearRegression()

In [118]:
train_score=model.score(X_train,Y_train)
test_score=model.score(X_test,Y_test)
print('Train Score (R-Squared): ',train_score)
print('Test Score (R-Squared)',test_score)

Train Score (R-Squared):  0.08193008620755671
Test Score (R-Squared) 0.08615468258977432

In [119]:
from sklearn.neural_network import MLPRegressor
model = MLPRegressor(hidden_layer_sizes=(50))
model.fit(X_train,Y_train)
predictions_digit= model.predict(X_train) 
print(X_train.shape)

(3423, 21)

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(